{% extends 'inv/base.html' %}

{% block body %}
<h4><span style="background-color: #ff9900; color: #ffffff;">1 OVERALL BUSINESS PARAMETERS OF THE PROJECT (BUSINESS UNIT: next 36 MONTHS OF OPERATION)</span>
</h4>
<h4><span style="color: #000000;">1.1 Critical Success Factors</span></h4>
<table style="height: 154px; width: 936px; background-color: #ffffff;" border="2">
    <tbody>
    <tr>
        <td style="width: 384px;">&nbsp;</td>
        <td style="text-align: center; width: 103px;">Unit</td>
        <td style="text-align: center; width: 90px;">FY-0</td>
        <td style="text-align: center; width: 90px;">FY-1</td>
        <td style="text-align: center; width: 90px;">FY-2</td>
        <td style="text-align: center; width: 90px;">FY-3</td>
        <td style="text-align: center; width: 90px;">FY1+FY2+FY3</td>
    </tr>
    <tr>
        <td style="width: 384px;">Introducing an individually controlled brand (utilization in %)</td>
        <td style="text-align: center; width: 103px;">[%]</td>
        <td style="text-align: center; width: 90px;">&nbsp;</td>
        <td style="text-align: center; width: 90px;">58.49%</td>
        <td style="text-align: center; width: 90px;">62.26%</td>
        <td style="text-align: center; width: 90px;">67.93%</td>
        <td style="text-align: center; width: 90px;">62.89%</td>
    </tr>
    <tr>
        <td style="width: 384px;">Retention of Critical Technology Personnel</td>
        <td style="text-align: center; width: 103px;">[number]</td>
        <td style="text-align: center; width: 90;">&nbsp;</td>
        <td style="background-color: #ffff00; width: 109px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
        <td style="background-color: #ffff00; width: 116px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
        <td style="background-color: #ffff00; width: 113px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
        <td style="background-color: #ffff00; width: 122px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
    </tr>
    <tr>
        <td style="width: 384px;">Retention of Critical Marketing Personnel</td>
        <td style="width: 103px; text-align: center;">[number]</td>
        <td style="width: 89px; text-align: center;">&nbsp;</td>
        <td style="background-color: #ffff00; width: 109px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
        <td style="background-color: #ffff00; width: 116px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
        <td style="background-color: #ffff00; width: 113px; text-align: center;">
            <input type="number" value="1">
        </td>
        <td style="background-color: #ffff00; width: 122px; text-align: center;">
            <div contenteditable="true">1</div>
        </td>
    </tr>
    </tbody>
</table>
<p></p>


<h4>1.2 Key Performance Indicators</h4>
<table style="height: 230px; width: 940px;" border="2">
    <tbody>
    <tr>
        <td style="width: 321px;"></td>
        <td style="width: 91px; text-align: center;">Unit</td>
        <td style="width: 97px; text-align: center;">FY-0</td>
        <td style="width: 77px; text-align: center;">FY-1</td>
        <td style="width: 89px; text-align: center;">FY-2</td>
        <td style="width: 98px; text-align: center;">FY-3</td>
        <td style="width: 119px; text-align: center;">FY1+FY2+FY3</td>
    </tr>
    <tr>
        <td style="width: 321px;">Actual size of the local market</td>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td style="background-color: #ffff00; width: 97px; text-align: center;">
            <div contenteditable="true">15,000,000</div>
        </td>
        <td style="background-color: #ffff00; width: 77px; text-align: center;">
            <div contenteditable="true">103.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 89px; text-align: center;">
            <div contenteditable="true">106.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 98px; text-align: center;">
            <div contenteditable="true">110.00%</div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td style="width: 321px;">Number of customers - existing business</td>
        <td style="width: 91px; text-align: center;">[customers]</td>
        <td style="background-color: #ffff00; width: 97px; text-align: center;">
            <div contenteditable="true">82,500</div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="width: 321px;">Average consumption per existing customer</td>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td style="background-color: #ffff00; width: 97px; text-align: center;">
            <div contenteditable="true">1.50</div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="width: 321px;" rowspan="2">Size of the penetrated market - without new project</td>
        <td style="width: 91px; text-align: center;">[%]</td>
        <td style="background-color: #ffff00; width: 97px; text-align: center;"></td>
        <td style="background-color: #ffff00; width: 77px; text-align: center;">
            <div contenteditable="true">105.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 89px; text-align: center;">
            <div contenteditable="true">110.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 98px; text-align: center;">
            <div contenteditable="true">115.00%</div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td style="width: 97px; text-align: center;">&nbsp;123,750</td>
        <td style="width: 77px; text-align: center;">&nbsp;129,938</td>
        <td style="width: 89px; text-align: center;">136,125&nbsp;</td>
        <td style="width: 98px; text-align: center;">142,313</td>
        <td style="width: 119px; text-align: center;">408,375</td>
    </tr>
    <tr>
        <td style="width: 321px;">Projected increase of the penetrated market - with new project</td>
        <td style="width: 91px; text-align: center;">[%]</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="background-color: #ffff00; text-align: center; width: 119px;">
            <div contenteditable="true">220.00%</div>
        </td>
    </tr>
    <tr>
        <td style="width: 321px;">Projected structure of the annual sale, new penetrated market</td>
        <td style="width: 91px; text-align: center;">[%]</td>
        <td></td>
        <td style="background-color: #ffff00; width: 89px; text-align: center;">
            <div contenteditable="true">31.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 89px; text-align: center;">
            <div contenteditable="true">33.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 89px; text-align: center;">
            <div contenteditable="true">36.00%</div>
        </td>
        <td style="width: 119px; text-align: center;">100.00%</td>
    </tr>
    <tr>
        <td style="width: 321px;">Projected sales, new brand</td>
        <td style="width: 91px; text-align: center;">
            <p>[units]&nbsp;</p>
        </td>
        <td></td>
        <td style="width: 77px; text-align: center;">&nbsp;278,512</td>
        <td style="width: 89px; text-align: center;">296,480&nbsp;</td>
        <td style="width: 98px; text-align: center;">323,433</td>
        <td style="width: 119px; text-align: center;">898,425</td>
    </tr>
    <tr>
        <td style="width: 321px;" rowspan="2">Projected consumption in the existing business, new brand only</td>
        <td style="width: 91px; text-align: center;">[%]</td>
        <td style="width: 77px; text-align: center;"></td>
        <td style="background-color: #ffff00; width: 77px; text-align: center;">
            <div contenteditable="true">31.00%</div>
        </td>
        <td style="background-color: #ffff00; width: 77px; text-align: center;">
            <div contenteditable="true">31.50%</div>
        </td>
        <td style="background-color: #ffff00; width: 77px; text-align: center;">
            <div contenteditable="true">32.00%</div>
        </td>
        <td style="width: 119px; text-align: center;">31.53%</td>
    </tr>
    <tr>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td style="width: 77px; text-align: center;"></td>
        <td style="width: 77px; text-align: center;">86,339</td>
        <td style="width: 89px; text-align: center;">93,391</td>
        <td style="width: 98px; text-align: center;">103,499</td>
        <td style="width: 119px; text-align: center;">283,228</td>
    </tr>
    <tr>
        <td style="width: 91px;">Projected beer consumption {new brand % of all}</td>
        <td style="width: 97px; text-align: center;">[%]</td>
        <td style="width: 77px; text-align: center;"></td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">66.00%</div>
        </td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">69.00%</div>
        </td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">73.00%</div>
        </td>
        <td style="width: 77px; text-align: center;"></td>
    </tr>
    <tr>
        <td style="width: 321px;" rowspan="2">Wholesale distribution (new brand)</td>
        <td style="width: 97px; text-align: center;">[%]</td>
        <td style="width: 77px; text-align: center;"></td>
        <td style="width: 77px; text-align: center;">69.00%</td>
        <td style="width: 77px; text-align: center;">68.5%</td>
        <td style="width: 77px; text-align: center;">68.00%</td>
        <td style="width: 77px; text-align: center;">68.48%</td>
    </tr>
    <tr>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td>&nbsp;</td>
        <td style="width: 77px; text-align: center;">192,173</td>
        <td style="width: 77px; text-align: center;">203,089</td>
        <td style="width: 77px; text-align: center;">219,934</td>
        <td style="width: 119px; text-align: center;">615,197</td>
    </tr>
    <tr>
        <td style="width: 91px;">Capacity of the new technology (max units/year)</td>
        <td style="width: 91px; text-align: center;">[units]</td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">476,160</div>
        </td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">476,160</div>
        </td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">476,160</div>
        </td>
        <td style="background-color: #ffff00; text-align: center;">
            <div contenteditable="true">476,160</div>
        </td>
        <td style="width: 91px; text-align: center;">&nbsp;</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>
    <button style="border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Submit Result</span>
    </button>&nbsp; &nbsp;<button style="border-color: orange; border-radius: 8px;"><span style="font-size: xx-small;">Go Back to Sim-Navigator</span>
</button>
</p>
<p></p>
{% endblock %}
